In [10]:
from rrdata.rrdatad.stock.stock_zh_a_hist_em import stock_zh_a_hist_em

In [15]:
stock_zh_a_hist_em(symbol='000792',adjust='')

,trade_date,open,close,high,low,vol,amount,amplitude,chg_pct,change,turnover
0,1997-09-04,8.88,9.70,9.98,8.70,328516,3.098323e+08,29.43,122.99,5.35,73.00
1,1997-09-05,9.54,9.89,9.97,9.41,127495,1.241767e+08,5.77,1.96,0.19,28.33
2,1997-09-08,10.01,10.10,10.44,9.72,110805,1.120198e+08,7.28,2.12,0.21,24.62
3,1997-09-09,10.10,9.67,10.23,9.60,75995,7.490179e+07,6.24,-4.26,-0.43,16.89
4,1997-09-10,9.60,9.87,9.89,9.50,35337,3.403638e+07,4.03,2.07,0.20,7.85
...,...,...,...,...,...,...,...,...,...,...,...
5385,2022-05-24,31.60,30.51,31.98,30.34,992028,3.100607e+09,5.13,-4.54,-1.45,1.83
5386,2022-05-25,30.50,30.25,30.74,29.81,596161,1.799875e+09,3.05,-0.85,-0.26,1.10
5387,2022-05-26,30.29,31.76,32.35,29.89,1367986,4.298924e+09,8.13,4.99,1.51,2.52
5388,2022-05-27,32.20,30.90,32.50,30.80,1265108,3.993367e+09,5.35,-2.71,-0.86,2.33
5389,2022-05-30,30.90,31.53,32.16,30.71,1008556,3.190914e+09,4.69,2.04,0.63,1.86

:

In [2]:
engine()

Engine(postgresql+psycopg2://postgres:***@39.108.68.163:5432/rrdata)

In [3]:
RrdataD('stock_list').read()

,ts_code,symbol,name,area,industry,fullname,enname,market,exchange,curr_type,list_status,list_date,delist_date,is_hs,code
0,000651.SZ,000651,格力电器,广东,家用电器,珠海格力电器股份有限公司,"Gree Electric Appliances,Inc. of Zhuhai",主板,SZSE,CNY,L,19961118,None,S,000651
1,603131.SH,603131,上海沪工,上海,专用机械,上海沪工焊接集团股份有限公司,"Shanghai Hugong Electric Group Co.,Ltd.",主板,SSE,CNY,L,20160607,None,N,603131
2,002025.SZ,002025,航天电器,贵州,元器件,贵州航天电器股份有限公司,"Guizhou Space Appliance Co.,Ltd.",中小板,SZSE,CNY,L,20040726,None,S,002025
3,600459.SH,600459,贵研铂业,云南,小金属,贵研铂业股份有限公司,"Sino-Platinum Metals Co.,Ltd",主板,SSE,CNY,L,20030516,None,H,600459
4,688013.SH,688013,天臣医疗,江苏,医疗保健,天臣国际医疗科技股份有限公司,"Touchstone International Medical Science Co., ...",科创板,SSE,CNY,L,20200928,None,N,688013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,605055.SH,605055,迎丰股份,浙江,纺织,浙江迎丰科技股份有限公司,"Zhejiang Yingfeng Technology Co.,Ltd.",主板,SSE,CNY,L,20210129,None,N,605055
4810,000776.SZ,000776,广发证券,广东,证券,广发证券股份有限公司,"Gf Securities Co.,Ltd.",主板,SZSE,CNY,L,19970611,None,S,000776
4811,300082.SZ,300082,奥克股份,辽宁,化工原料,辽宁奥克化学股份有限公司,"Liaoning Oxiranchem,Inc",创业板,SZSE,CNY,L,20100520,None,S,300082
4812,002608.SZ,002608,江苏国信,江苏,火力发电,江苏国信股份有限公司,"Jiangsu Guoxin Corp., Ltd.",中小板,SZSE,CNY,L,20110810,None,S,002608
4813,000571.SZ,000571,ST大洲,海南,煤炭开采,新大洲控股股份有限公司,"Sundiro Holding Co.,Ltd.",主板,SZSE,CNY,L,19940525,None,N,000571

In [5]:
RrdataD('stock_day_bfq').read(count=5)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20220523,15.07,15.07,14.76,14.83,15.02,-0.19,-1.2650,647725.92,962683.729
1,000001.SZ,20220524,14.87,14.87,14.40,14.40,14.83,-0.43,-2.8995,933557.06,1358693.535
2,000001.SZ,20220525,14.43,14.49,14.30,14.39,14.40,-0.01,-0.0694,603228.26,866228.924
3,000002.SZ,20220523,18.72,18.85,18.30,18.35,18.90,-0.55,-2.9101,977306.52,1802623.186
4,000002.SZ,20220524,18.30,18.52,18.09,18.12,18.35,-0.23,-1.2534,635200.18,1161710.153
...,...,...,...,...,...,...,...,...,...,...,...
14274,872925.BJ,20220524,16.30,16.58,16.29,16.35,16.50,-0.15,-0.9091,344.29,563.901
14275,872925.BJ,20220525,15.72,16.37,15.72,16.11,16.35,-0.24,-1.4679,170.77,276.398
14276,873169.BJ,20220523,6.66,6.70,6.59,6.64,6.71,-0.07,-1.0432,5481.09,3634.823
14277,873169.BJ,20220524,6.65,6.65,6.22,6.23,6.64,-0.41,-6.1747,9312.02,5984.860
14278,873169.BJ,20220525,6.23,6.29,6.19,6.26,6.23,0.03,0.4815,3242.69,2024.276

In [8]:
RrdataD('stock_day_hfq').read(instruments='600519.SH, 000792.SZ')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,adj_factor
0,000792.SZ,20210810,289.0122,323.4991,238.8293,264.5471,65.1420,199.4051,306.1083,7852460.69,2.992429e+07,7.369
1,000792.SZ,20210811,250.5460,259.3888,240.9663,242.2927,264.5471,-22.2544,-8.4123,4030909.39,1.358923e+07,7.369
2,000792.SZ,20210812,242.4401,266.5367,230.7971,266.5367,242.2927,24.2440,10.0061,4710388.54,1.591516e+07,7.369
3,000792.SZ,20210813,261.5995,288.2753,257.0307,275.0111,266.5367,8.4744,3.1794,4563746.67,1.708053e+07,7.369
4,000792.SZ,20210816,270.0738,272.2846,250.6197,255.3358,275.0111,-19.6753,-7.1544,2273834.71,8.043227e+06,7.369
...,...,...,...,...,...,...,...,...,...,...,...,...
443,600519.SH,20220519,13042.1300,13131.8180,12997.2860,13124.3440,13161.7140,-37.3700,-0.2839,19776.26,3.459059e+06,7.474
444,600519.SH,20220520,13154.1653,13461.7951,13094.4480,13453.2747,13124.3440,328.9307,2.5063,41949.60,7.493460e+06,7.474
445,600519.SH,20220523,13453.2000,13482.2739,13243.9280,13311.1940,13453.2747,-142.0807,-1.0561,22157.13,3.950857e+06,7.474
446,600519.SH,20220524,13348.5640,13356.0380,13120.6070,13154.2400,13311.1940,-156.9540,-1.1791,27342.22,4.824600e+06,7.474
447,600519.SH,20220525,13193.6280,13243.9280,13057.0780,13120.6817,13154.2400,-33.5583,-0.2551,22388.69,3.929477e+06,7.474

In [9]:
RrdataD('stock_day_hfq').read(start_date='20220520')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,adj_factor
0,603112.SH,20220520,13.9729,14.2974,13.9222,14.2467,14.0439,0.2028,1.4440,27115.00,37941.026,1.014
1,000927.SZ,20220523,4.5417,4.6370,4.5258,4.6211,4.5576,0.0635,1.3933,436871.14,126306.186,1.588
2,603028.SH,20220520,12.3156,13.2000,11.8668,11.9856,12.3816,-0.3960,-3.1983,79308.41,73181.810,1.320
3,603039.SH,20220524,133.0765,136.8617,130.8499,131.3323,134.4124,-3.0801,-2.2915,23730.11,85346.809,3.711
4,601825.SH,20220524,6.6121,6.6328,6.5186,6.5394,6.6017,-0.0623,-0.9437,99725.98,63206.370,1.038
...,...,...,...,...,...,...,...,...,...,...,...,...
19029,600605.SH,20220520,384.4792,390.9535,383.4831,385.9733,386.4713,-0.4980,-0.1289,10313.42,8006.762,49.803
19030,688776.SH,20220525,153.7800,158.8800,152.1100,158.0000,154.0000,4.0000,2.5974,2970.93,46414.865,1.000
19031,002527.SZ,20220524,16.1577,16.2406,15.3015,15.3567,16.1577,-0.8010,-4.9574,55314.11,31492.848,2.762
19032,601598.SH,20220525,4.1747,4.3382,4.1638,4.3382,4.1529,0.1853,4.4619,415802.45,163286.286,1.090
19033,600652.SH,20220525,3808.1554,4515.3843,3644.9487,4352.1776,5549.0264,-1196.8488,-21.5686,753339.65,54570.220,5440.222